<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!--    LINKS  -->
  <th:block th:insert="~{fragments/links}"></th:block>

  <title>Произведени продукти</title>
  <link rel="icon" type="image/x-icon" href="/img/photos/noImage.png">
  <link href="/css/show.css" rel="stylesheet">
</head>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      const navbar = document.getElementById("sidebar");
      const toggler = document.querySelector("a.sidebar-toggle");
      toggler.addEventListener("click", () => {
      navbar.classList.toggle("collapsed");
      });
  });
</script>
<body>
<div class="wrapper">
  <!--    HEADER  -->
  <th:block th:insert="~{fragments/header}"></th:block>
  <div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
      <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
      </a>
    </nav>

    <main class="content">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="card custom-card-width-lg">
            <div class="card-header">
              <h5 class="card-title mb-0">Произведени продукти</h5>
            </div>
            <div class="card-body">
              <div class="row mb-3">
                <div class="col">
                  <input type="text" id="searchInput1" class="form-control"
                         placeholder="Търсене по код на продукт"><br>
                  <div class="alert alert-primary" role="alert">
                    <label>Резултати от търсенето: <span id="resultsCount"></span></label>
                  </div>
                </div>
                <div class="col">
                  <input type="text" id="searchInput2" class="form-control"
                         placeholder="Търсене по име на продукт"><br>
                  <div class="alert alert-primary" role="alert">
                    <label>Резултати от търсенето: <span id="resultsCount2"></span></label>
                  </div>
                </div>
                <div class="col">
                  <input type="date" id="searchInput3" class="form-control"
                         placeholder="Търсене по дата"><br>
                  <div class="alert alert-primary" role="alert">
                    <label>Резултати от търсенето: <span id="resultsCount3"></span></label>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Снимка</th>
                    <th>Код на продукта</th>
                    <th>Име на Продукт</th>
                    <th>Произведено количество</th>
                    <th>Дата</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="producedProduct, iter : ${producedProducts}"
                      data-id="${producedProduct.product.id}" class="plate-row">
                    <td>
                      <img th:if="${productPackageMapImages.containsKey(producedProduct.productId)}"
                           th:src="@{${S3bucketImagesLink} + '/' + ${productPackageMapImages.get(producedProduct.productId)}}"
                           loading="lazy"
                           style="height: 100px; width: 100px;">
                      <img th:unless="${productPackageMapImages.containsKey(producedProduct.productId)}"
                           class="card-img-top"
                           src="/img/photos/noImage.png"
                           style="height: 100px; width: 100px">
                    </td>

                    <td>
                        <span th:each="package : ${packages}"
                              th:text="${package.id == producedProduct.productId ? package.productCode : ''}"></span>
                    </td>                    <td th:text="${productPackageMap.get(producedProduct.productId)}"></td>
                    <td th:text="${producedProduct.quantity}"></td>
                    <td th:text="${#temporals.format(producedProduct.manufactureDate, 'dd.MM.yyyy')}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script>
  $(document).ready(function() {
  $('#packageId').select2();
  });

  // Function to filter by product code
  document.getElementById('searchInput1').addEventListener('input', function () {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById('searchInput1');
      filter = input.value.toUpperCase();
      table = document.querySelector('table');
      tr = table.getElementsByTagName('tr');
      var count = 0;

      for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName('td')[1]; // Accessing product code
          if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = '';
                  count++;
              } else {
                  tr[i].style.display = 'none';
              }
          }
      }

      var resultsCountElement = document.getElementById('resultsCount');
      if (resultsCountElement) {
          resultsCountElement.textContent = count;
      } else {
          resultsCountElement = document.createElement('div');
          resultsCountElement.id = 'resultsCount';
          resultsCountElement.textContent = count;
          input.parentNode.appendChild(resultsCountElement);
      }
  });

  // Function to filter by product name
  document.getElementById('searchInput2').addEventListener('input', function () {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById('searchInput2');
      filter = input.value.toUpperCase();
      table = document.querySelector('table');
      tr = table.getElementsByTagName('tr');
      var count = 0;

      for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName('td')[2]; // Accessing product name
          if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = '';
                  count++;
              } else {
                  tr[i].style.display = 'none';
              }
          }
      }

      var resultsCountElement = document.getElementById('resultsCount2');
      if (resultsCountElement) {
          resultsCountElement.textContent = count;
      } else {
          resultsCountElement = document.createElement('div');
          resultsCountElement.id = 'resultsCount2';
          resultsCountElement.textContent = count;
          input.parentNode.appendChild(resultsCountElement);
      }
  });

  document.getElementById('searchInput3').addEventListener('input', function () {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById('searchInput3');
      filter = input.value; // Date input value (YYYY-MM-DD)
      table = document.querySelector('table');
      tr = table.getElementsByTagName('tr');
      var count = 0;

      for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName('td')[4]; // Accessing the Date column
          if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.includes(filter)) { // Check if date matches
                  tr[i].style.display = '';
                  count++;
              } else {
                  tr[i].style.display = 'none';
              }
          }
      }

      var resultsCountElement = document.getElementById('resultsCount3');
      if (resultsCountElement) {
          resultsCountElement.textContent = count;
      } else {
          resultsCountElement = document.createElement('div');
          resultsCountElement.id = 'resultsCount3';
          resultsCountElement.textContent = count;
          input.parentNode.appendChild(resultsCountElement);
      }
  });
</script>
</body>
</html>
