<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!--    LINKS  -->
    <th:block th:insert="~{fragments/links}"></th:block>

    <title> Редактирай продукт </title>
    <link rel="icon" type="image/x-icon" href="/img/photos/noImage.png">
    <link href="/css/form.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
    <link rel="stylesheet" href="/css/modalStyles.css">
    <link rel="stylesheet" href="/css/videoStyles.css">
</head>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const navbar = document.getElementById("sidebar");
    console.log(navbar);
    const toggler = document.querySelector("a.sidebar-toggle");
    toggler.addEventListener("click", () => {
    navbar.classList.toggle("collapsed");
    });
});
</script>
<body>
<div class="wrapper">
    <!-- HEADER -->
    <th:block th:insert="~{fragments/header}"></th:block>
    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>

        <div class="main">
            <main class="content">
                <div class="d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="card custom-card-width-lg">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Редактирай продукт</h5>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/product/submit}" method="post" th:object="${product}">
                                        <input type="hidden" name="id" th:value="${product.id}" />
                                        <div class="form-group">
                                            <label for="productCode">Код на продукта</label>
                                            <input type="text" class="form-control" id="productCode" name="productCode" th:field="*{productCode}"
                                                   th:value="${product.productCode}" minlength="2" maxlength="10">
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Цена</label>
                                            <input type="number" class="form-control" id="price" name="price"
                                                   th:field="*{price}" required min="0" step="0.01" th:value="${product.price}">
                                        </div>
                                        <div class="form-group" th:if="${packages}">
                                            <label for="packageId" style="width: 100%;">Кутия на Продукта:</label>
                                            <select id="packageId" name="packageId" style="width: 100%;">
                                                <option th:each="package : ${packages}" th:value="${package.id}"
                                                        th:text="${package.name}" th:selected="${package.id == product.packageId}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="availableQuantity">Наличност</label>
                                            <input type="number" class="form-control" id="availableQuantity"
                                                   name="availableQuantity" th:field="*{availableQuantity}" required min="1" th:value="${product.availableQuantity}">
                                        </div>
                                        <div class="form-group">
                                            <label>Продуктът е наличен за продажба</label>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="forSaleYes" name="forSale" value="true" th:checked="${product.forSale}">
                                                <label class="form-check-label" for="forSaleYes">Да</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="forSaleNo" name="forSale" value="false" th:checked="${!product.forSale}">
                                                <label class="form-check-label" for="forSaleNo">Не</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="searchInputBarcode">Баркод на продукта</label>
                                            <div class="input-container">
                                                <input type="text" class="form-control" id="searchInputBarcode" name="barcode" th:field="*{barcode}"
                                                       th:value="${product.barcode}" minlength="2" maxlength="30">                                                <button id="toggleCamera" type="button" class="btn"><i class="fas fa-barcode"></i></button>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Запази</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cameraModal" class="modal" >
                    <div class="modal-content">
                        <span class="close" id="closeModal">&times;</span>
                        <video id="modalVideo" width="0" height="0" autoplay></video>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<script src="/js/barcodeScanner.js"></script>
<script src="/js/barcodeScannerCamera.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        new BarcodeScannerCamera({
            videoElementId: 'modalVideo',
            inputElementId: 'searchInputBarcode',
            toggleButtonId: 'toggleCamera',
            modalId: 'cameraModal'
        });
    });
</script>
<script>
$(document).ready(function() {
$('#packageId').select2();
});
</script>
</body>
</html>