<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--    LINKS  -->
    <th:block th:include="~{fragments/links}"></th:block>

    <title> Фактура </title>
    <link href="/css/invoice.css" rel="stylesheet">
</head>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const navbar = document.getElementById("sidebar");
    console.log(navbar);
    const toggler = document.querySelector("a.sidebar-toggle");
    toggler.addEventListener("click", () => {
    navbar.classList.toggle("collapsed");
    });
});
</script>
<body>
<div class="wrapper">
    <!--    HEADER  -->
    <th:block th:include="~{fragments/header}"></th:block>

    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="row">
                <div class="col-md-6 text-end">
                    <a th:if="${orderProductDTOS != null and orderProductDTOS.size() > 0}"
                       th:href="@{/orderProduct/orderDetails/{orderId}(orderId=${orderProductDTOS[0].orderId})}">
                        <button id="printButton2" class="btn btn-primary">
                            Провери поръчката <i class="fas fa-file-alt"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="card custom-card-width-lg">
                        <div class="card-header">
                            <div class="container">
                                <div class="text-container">
                                    <strong class="underlined" th:text="ПОЛУЧАТЕЛ"></strong>
                                    <h5><strong
                                            th:text=" ${client.businessName}"></strong>
                                    </h5>
                                    <h5><strong
                                            th:text="'Ид. номер: ' + ${client.idNumEIK}"></strong>
                                    </h5>
                                    <h5><strong th:if="${client.hasIdNumDDS}">
                                        <span th:text="'Ид. номер по ДДС: BG' + ${client.idNumEIK}"></span>
                                    </strong></h5>
                                    <h5><strong
                                            th:text="'Адрес: ' + ${client.address}"></strong>
                                    </h5>
                                    <h5><strong th:text="'МОЛ: ' + ${client.mol}"></strong>
                                    </h5>
                                </div>

                                <div class="text-container right">
                                    <strong class="underlined" th:text="ДОСТАВЧИК"></strong>
                                    <h5><strong th:text=" 'Лукерия ООД'"></strong></h5>
                                    <h5><strong th:text="'Ид. номер: ' + '200418603'"></strong></h5>
                                    <h5><strong>
                                        <span th:text="'Ид. номер по ДДС: BG' + '200418603'"></span>
                                    </strong></h5>
                                    <h5><strong th:text="'Адрес: ' + 'Промишлена Зона обл.Търговище 7700'"></strong>
                                    </h5>
                                    <h5><strong th:text="'МОЛ: ' +'Кадрия Фейзи Йълдъз'"></strong>
                                    </h5>
                                </div>
                            </div>
                            <div class="centered">
                                <h2 th:text="'Фактура: ' + (${lastInvoiceNumber})"></h2>
                                <h2 th:text="'ДАТА: '+ ${#dates.format(#dates.createNow(), 'dd.MM.yyyy')}"></h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Наименувание</th>
                                        <th>Количество</th>
                                        <th>ЕД.Цена без ДДС</th>
                                        <th>ДДС %</th>
                                        <th>Стойност без ДДС</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="orderProductDTO : ${orderProductDTOS}">
                                        <td th:text="${orderProductDTO.id}"></td>
                                        <td>
                                              <span th:each="packageDTO : ${packageDTOS}"
                                                    th:if="${packageDTO.id == orderProductDTO.packageId}"
                                                    th:text="${packageDTO.name}"></span>
                                        </td>
                                        <td>
                                            <label>
                                                <input class="quantity-input" type="number"
                                                       th:value="${orderProductDTO.number}" min="1"  id="quantityInput" name="quantityInputList">
                                            </label>
                                            <span>БР</span>
                                        </td>

                                        <td>
                                            <input type="number" step="0.01" class="price-input"
                                                   th:value="${productDTOS[__${orderProductDTO.packageId - 1}__].price}"
                                                   id="priceInput" name="priceInput">
                                        </td>
                                        <td th:text="20"></td>
                                        <td id="totalPriceNumber*Price">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>ДАНЪЧНА OСНОВА (BGN):</td>
                                        <td id="totalPrice"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>СТОЙНОСТ НА ДДС (BGN):</td>
                                        <td id="vatValue"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>СУМА ЗА ПЛАЩАНЕ (BGN):</td>
                                        <td id="paymentAmount"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <form method="post" action="/invoice/submit">
                                    <input type="hidden" id="invoiceNumberInput" name="invoiceNumber"
                                           th:value="${lastInvoiceNumber + 1}">
                                    <input type="hidden" id="currentDateInput" name="currentDate"
                                           th:value="${#dates.format(#dates.createNow(), 'dd.MM.yyyy')}">
                                    <div class="form-group">
                                        <label for="paymentMethod">Начин на плащане:</label>
                                        <select class="form-control small-input" id="paymentMethod"
                                                name="paymentMethod">
                                            <option value="true">В БРОЙ</option>
                                            <option value="false">С ПРЕВОДНО НАРЕЖДАНЕ</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="bankAccountGroup" style="display: none;">
                                    <label for="bankAccount">Банкова сметка: </label>
                                    <select class="form-control small-input" id="bankAccount" name="bankAccount">
                                        <option value="BG56-UNCR-7000-1523215088 УНИКРЕДИТ БУЛБАНК АД" th:text="${'BG56-UNCR-7000-1523215088 УНИКРЕДИТ БУЛБАНК АД'}"></option>
                                        <option value="BG84-BPBI-7943-1076363002 ЮРОБАНК БЪЛГАРИЯ АД" th:text="${'BG84-BPBI-7943-1076363002 ЮРОБАНК БЪЛГАРИЯ АД'}"></option>
                                        <option value="BG06-DEMI-9240-1000326433 ТЪРГОВСКА БАНКА Д АД" th:text="${'BG06-DEMI-9240-1000326433 ТЪРГОВСКА БАНКА Д АД'}"></option>
                                    </select>
                                    </div>

                                    <script th:inline="javascript">
                                        $(document).ready(function () {
                                          $('#paymentMethod').change(function () {
                                            var selectedValue = $(this).val();
                                            if (selectedValue === 'false') {
                                              $('#bankAccountGroup').show();
                                               } else {
                                               $('#bankAccountGroup').hide();
                                             }
                                           });
                                         });
                                    </script>
                                    <div class="form-group">
                                        <label for="dateInput">Дата на падеж:</label>
                                        <input class="form-control small-input" type="date" id="dateInput"
                                               name="dateInput" value="" min="">
                                    </div>
                                    <input type="hidden" id="paymentAmountInput" name="paymentAmount">
                                    <input type="hidden" id="quantityInputList" name="quantityInputList">
                                    <input type="hidden" id="priceInputList" name="priceInputList">
                                    <input type="hidden" id="lastInvoiceNumber" name="lastInvoiceNumber" th:value="${lastInvoiceNumber}">

                                    <th:block th:each="orderProductDTO : ${orderProductDTOS}">
                                        <input type="hidden" name="orderProductIds" th:value="${orderProductDTO.id}">
                                    </th:block>
                                    <div>
                                        <button id="printButton3" type="submit" onclick="return confirm('Сигурни ли сте, че искате да фактурирате тази поръчка?')">Фактурирай</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
<script src="/js/invoice.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</html>
