<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!--    LINKS  -->
    <th:block th:insert="~{fragments/links}"></th:block>

    <title> Поръчка на материали </title>
    <link rel="icon" type="image/x-icon" href="/img/photos/noImage.png">
    <link href="/css/form.css" rel="stylesheet">
</head>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const navbar = document.getElementById("sidebar");
        console.log(navbar);
        const toggler = document.querySelector("a.sidebar-toggle");
        toggler.addEventListener("click", () => {
        navbar.classList.toggle("collapsed");
        });
    });
</script>
<body>
<div class="wrapper">
    <th:block th:insert="~{fragments/header}"></th:block>
    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="form-container">
                <div class="card custom-card-width-lg">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Създай поръчка на материал</h5>
                    </div>
                    <div class="card-body">
                        <form action="/material-order/submit" method="post">
                            <div class="form-group">
                                <label for="materialId">Вид на материала:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="materialType" value="CARTON" id="materialType">
                                    <label class="form-check-label" for="materialType">Кашон</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="materialType" value="PACKAGE" id="materialType1">
                                    <label class="form-check-label" for="materialType1">Кутия</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="materialType" value="PLATE" id="materialType2">
                                    <label class="form-check-label" for="materialType2">Тарелка</label>
                                </div>
                            </div>
                            <!-- Plate dropdown (with image) -->
                            <div id="plateDropdown" class="material-dropdown" style="display: none;">
                                <label for="plateId">Тарелки:</label>
                                <select class="form-select select2" id="plateId" name="materialId">
                                    <option th:each="plate : ${plates}"
                                            th:value="${plate.id}"
                                            th:data-image-url="@{${backendBaseUrl} + '/' + ${plate.photo}}"
                                            th:text="${plate.id} + ' - ' + ${plate.name}">
                                        <img th:if="${plate.photo != null}"
                                             th:src="@{${backendBaseUrl} + '/' + ${plate.photo}}"
                                             alt="no image" height="50" width="50">
                                        <span th:text="${plate.name}"></span>
                                    </option>
                                </select>
                            </div>

                            <!-- Carton dropdown (without image) -->
                            <div id="cartonDropdown" class="material-dropdown" style="display: none;">
                                <label for="cartonId">Кашони:</label>
                                <select class="form-select select2" id="cartonId" name="materialId">
                                    <option th:each="carton : ${cartons}"
                                            th:value="${carton.id}"
                                            th:text="${carton.id} + ' - ' + ${carton.name}">
                                    </option>
                                </select>
                            </div>

                            <!-- Package dropdown (with image) -->
                            <div id="packageDropdown" class="material-dropdown" style="display: none;">
                                <label for="packageId">Кутии:</label>
                                <select class="form-select select2" id="packageId" name="materialId">
                                    <option th:each="package : ${packages}"
                                            th:value="${package.id}"
                                            th:data-image-url="@{${backendBaseUrl} + '/' + ${package.photo}}"
                                            th:text="${package.productCode} + ' - ' + ${package.name}">
                                        <img th:if="${package.photo != null}"
                                             th:src="@{${backendBaseUrl} + '/' + ${package.photo}}"
                                             alt="no image" height="50" width="50">
                                        <span th:text="${package.name}"></span>
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="orderedQuantity">Брой:</label>
                                <input type="number" id="orderedQuantity" name="orderedQuantity" required
                                       th:field="${order.orderedQuantity}" min="1" oninput="validity.valid||(value='');"/>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Поръчай</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="/js/material-order.js"></script>
</body>
</html>