<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--    LINKS  -->
    <th:block th:insert="~{fragments/links}"></th:block>

    <title> Всички нужни материали </title>
    <link href="/css/show.css" rel="stylesheet">
</head>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const navbar = document.getElementById("sidebar");
    console.log(navbar);
    const toggler = document.querySelector("a.sidebar-toggle");
    toggler.addEventListener("click", () => {
    navbar.classList.toggle("collapsed");
    });
});

</script>
<body>
<div class="wrapper">
    <!--    HEADER  -->
    <th:block th:insert="~{fragments/header}"></th:block>


    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <div class="card custom-card-width-lg">
                            <div class="card-header">
                                <div class="card-header"
                                     style="display: flex; justify-content: space-between; align-items: center;">
                                    <h5 class="card-title mb-0">Всички нужни материали</h5>
                                    <button onclick="printPage()">
                                        <i class="fas fa-print"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="modal fade" id="messageModal" tabindex="-1" role="dialog"
                                 aria-labelledby="messageModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="messageModalLabel">Няма неначилни
                                                материали!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h4 th:text="${message}"></h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Затвори
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script th:if="${message}">
                            $(document).ready(function () {
                               $('#messageModal').modal('show');
                                 setTimeout(function() {
                                  history.back();
                               }, 2000);
                             });
                            </script>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Материал</th>
                                        <th>Вид материал</th>
                                        <th>Нужен брой Материали</th>
                                        <th>Брой материали в склад</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order : ${orders}">
                                        <td>
                                            <span th:if="${order.materialType == 'CARTON'}"
                                                  th:text="${cartons[order.materialId-1].name}"></span>
                                            <span th:if="${order.materialType == 'PACKAGE'}"
                                                  th:text="${packages[order.materialId-1].name}"></span>
                                            <span th:if="${order.materialType == 'PLATE'}"
                                                  th:text="${plates[order.materialId-1].name}"></span>

                                        </td>
                                        <td>
                                            <span th:if="${order.materialType == 'CARTON'}">Кашон</span>
                                            <span th:if="${order.materialType == 'PACKAGE'}">Кутия</span>
                                            <span th:if="${order.materialType == 'PLATE'}">Тарелка</span>
                                        </td>
                                        <td th:text="${order.orderedQuantity}"></td>
                                        <td>
                                            <span th:if="${order.materialType == 'CARTON'}"
                                                  th:text="${cartons[order.materialId-1].availableQuantity}"></span>
                                            <span th:if="${order.materialType == 'PACKAGE'}"
                                                  th:text="${packages[order.materialId-1].availableQuantity}"></span>
                                            <span th:if="${order.materialType == 'PLATE'}"
                                                  th:text="${plates[order.materialId-1].availableQuantity}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
    function printPage() {
        window.print();
    }

</script>
<script src="/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>