<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="~{fragments/links}"></th:block>
    <title>Продукти от поръчка</title>
    <link rel="icon" type="image/x-icon" href="/img/photos/noImage.png">
    <link href="/css/show.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <th:block th:insert="~{fragments/header}"></th:block>
    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>

        <main class="content">
            <div class="row" style="font-size: 1rem;">
                <div class="col-lg-11 mx-auto">
                    <div class="card custom-card-width-lg">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Продукти от поръчка</h5>
                        </div>

                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Изображение</th>
                                    <th>Пакет</th>
                                    <th>Продуктов код</th>
                                    <th>Цена за брой</th>
                                    <th>Количеството</th>
                                    <th>Обща цена</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orderProduct : ${orderProducts}">
                                    <td>
                                        <img th:src="@{${productImageUrls[orderProduct.id]}}" alt="Product Image">
                                    </td>
                                    <td th:text="${packageNames[orderProduct.id]}">Пакет</td>
                                    <td th:text="${productDetails[orderProduct.id].productCode}">Продуктов код</td>
                                    <td th:text="${orderProduct.sellingPrice}">Цена</td>
                                    <td th:text="${orderProduct.number}">1</td>
                                    <td th:text="${orderProduct.sellingPrice.multiply(orderProduct.number)}">Обща цена</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>
