<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--    LINKS  -->
    <th:block th:insert="~{fragments/links}"></th:block>

    <title> Клиенти </title>
    <link href="/css/form.css" rel="stylesheet">
</head>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const navbar = document.getElementById("sidebar");
    console.log(navbar);
    const toggler = document.querySelector("a.sidebar-toggle");
    toggler.addEventListener("click", () => {
    navbar.classList.toggle("collapsed");
    });
});

</script>
<style>
        /* Style to hide English fields by default */
        .english-field {
            display: none;
        }


</style>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Trigger the function on page load
        showHideFields();

        function showHideFields() {
            var isBulgarianClient = document.querySelector('input[name="isBulgarianClient"]:checked').value;
            var englishFields = document.querySelectorAll('.english-field');
            var bulgarianFields = document.querySelectorAll('.bulgarian-field');

            // Check if the client is from Bulgaria
            if (isBulgarianClient === "true") {
                // Hide the English fields and show the Bulgarian fields
                englishFields.forEach(function (field) {
                    field.style.display = 'none';
                });
                bulgarianFields.forEach(function (field) {
                    field.style.display = 'block';
                });
            } else {
                // Show the English fields and hide the Bulgarian fields
                englishFields.forEach(function (field) {
                    field.style.display = 'block';
                });
                bulgarianFields.forEach(function (field) {
                    field.style.display = 'none';
                });
            }
        }
        // Attach an event listener for the radio buttons to update the fields when the user changes the selection
        var radioButtons = document.getElementsByName("isBulgarianClient");
        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener("change", showHideFields);
        });
    });
</script>
<body>
<div class="wrapper">
    <!--    HEADER  -->
    <th:block th:insert="~{fragments/header}"></th:block>

    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="form-container">
                <div class="card custom-card-width-lg">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Редактирай клиент</h5>
                    </div>
                    <div class="card-body">
                        <form th:action="@{'/client/edit/' + ${client.id}}" method="post" th:object="${client}">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:field="*{isBulgarianClient}"
                                       name="isBulgarianClient" value=true id="isBulgarianClient"
                                       onclick="showHideFields()">
                                <label class="form-check-label" for="isBulgarianClient">
                                    Клиента е от България
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:field="*{isBulgarianClient}"
                                       name="isBulgarianClient" value=false id="isBulgarianClient2"
                                       onclick="showHideFields()">
                                <label class="form-check-label" for="isBulgarianClient2">
                                    Клиента НЕ е от България
                                </label>
                            </div>
                            <div class="form-group bulgarian-field">
                                <label for="name">Име на фирма:</label>
                                <input type="text" id="name" name="name" pattern=".{5,}"
                                       title="Моля въведете името на фирмата с поне 5 символа!"
                                       th:field="*{businessName}"/>
                                <div class="error-message"></div>
                            </div>
                            <div class="form-group english-field">
                                <label for="englishBusinessName">Име на фирма на ангрийски език:</label>
                                <input type="text" id="englishBusinessName" name="englishBusinessName"
                                       pattern="[a-zA-Z0-9\s!@#$%^&*()_+-=[{]};:'|,<.>?]*$"

                                       title="Моля въведете името на фирмата на английски език с латински букви!"
                                       th:field="*{englishBusinessName}"/>
                                <div class="error-message"></div>
                            </div>

                            <div class="form-group bulgarian-field">
                                <label for="address">Адрес:</label>
                                <input type="text" id="address" name="address"
                                       th:field="*{address}"/>
                            </div>
                            <div class="form-group english-field">
                                <label for="englishAddress">Адрес на английски език:</label>
                                <input type="text" id="englishAddress" name="englishAddress"
                                       pattern="[a-zA-Z0-9\s!@#$%^&*()_+-=[{]};:'|,<.>?]*$"
                                       th:field="*{englishAddress}"/>
                            </div>
                            <div class="form-group bulgarian-field">
                                <label for="mol">МОЛ:</label>
                                <input type="text" id="mol" name="address"
                                       th:field="*{mol}"/>
                            </div>
                            <div class="form-group english-field">
                                <label for="englishMol">МОЛ на английски език:</label>
                                <input type="text" id="englishMol" name="address"
                                       pattern="[a-zA-Z0-9\s!@#$%^&*()_+-=[{]};:'|,<.>?]*$"
                                       title="Моля въведете името на МОЛ-а на английски език с латински букви!"
                                       th:field="*{englishMol}"/>
                            </div>
                            <div class="form-group">
                                <label for="idNumEIK">Ид. Номер по ЕИК:</label>
                                <input type="text" id="idNumEIK" name="idNumEIK" pattern=".{5,}"
                                       title="Номера по ЕИК трябва да бъде последователност от 5 знака!"
                                       th:field="*{idNumEIK}"/>
                                <div class="error-message"></div>
                            </div>
                            <div class="form-check">
                                <div class="form-group english-field">
                                    <input class="form-check-input" type="radio" th:field="*{hasIdNumDDS}"
                                           name="hasIdNumDDS" th:value=true id="hasIdNumDDS">
                                    <label class="form-check-label" for="hasIdNumDDS">
                                        Има Ид. Номер по ДДС
                                    </label>
                                </div>
                            </div>
                            <div class="form-check">
                                <div class="form-group english-field">
                                    <input class="form-check-input" type="radio" th:field="*{hasIdNumDDS}"
                                           name="hasIdNumDDS" th:value=false id="hasIdNumDDS2">
                                    <label class="form-check-label" for="hasIdNumDDS2">
                                        Няма Ид. номер по ДДС
                                    </label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Редактирай</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
<script src="js/app.js"></script>
</html>
