<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Промяна на парола</title>
  <link rel="icon" type="image/x-icon" href="/img/photos/noImage.png">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <th:block th:insert="~{fragments/links}"></th:block>
</head>
<body>
<div class="wrapper">
  <th:block th:insert="~{fragments/header}"></th:block>

  <div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
      <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
      </a>
    </nav>
    <main class="d-flex w-100">
      <div class="container d-flex flex-column">
        <div class="row vh-100">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">
              <div class="text-center mt-4">
                <p class="lead" style="font-size: 24px;">
                  Променете вашата парола
                </p>
              </div>

              <div class="card">
                <div class="card-body">
                  <div class="m-sm-3">
                    <form th:action="@{/user/change-password}" method="post" th:object="${user}">

                      <div class="mb-3" style="position: relative;">
                        <label for="password" class="form-label" style="font-size: 18px;">Въведете новата парола:</label>
                        <input type="password" id="password" name="password" class="form-control form-control-lg" required />
                        <i class="fa fa-eye" id="togglePassword" style="position: absolute; right: 15px; top: 55%; transform: translateY(+45%); cursor: pointer;" onclick="togglePasswordVisibility('password', this)"></i>
                      </div>

                      <div class="mb-3" style="position: relative;">
                        <label for="repeatPassword" class="form-label" style="font-size: 18px;">Потвърдете новата парола:</label>
                        <input type="password" id="repeatPassword" name="repeatPassword" class="form-control form-control-lg" required />
                        <i class="fa fa-eye" id="toggleConfirmPassword" style="position: absolute; right: 15px; top: 55%; transform: translateY(+45%); cursor: pointer;" onclick="togglePasswordVisibility('repeatPassword', this)"></i>
                      </div>


                      <p th:if="${param.error}" class="text-danger" style="margin-top: 15px;"> Паролите не съвпадат! </p>

                      <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-block btn-primary text-white py-3 px-5">Запази</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
      const navbar = document.getElementById("sidebar");
      console.log(navbar);
      const toggler = document.querySelector("a.sidebar-toggle");
      toggler.addEventListener("click", () => {
      navbar.classList.toggle("collapsed");
      });
  });

function validatePasswords() {
   const password = document.getElementById("password").value;
   const confirmPassword = document.getElementById("confirmPassword").value;
   const errorMessage = document.getElementById("error-message");

   if (password !== confirmPassword) {
       errorMessage.textContent = "Паролите не съвпадат!";
       return false;
   }

   return true;
}

// Функция за показване/скриване на паролите
function togglePasswordVisibility(passwordFieldId, icon) {
   const passwordField = document.getElementById(passwordFieldId);

   if (passwordField.type === "password") {
       passwordField.type = "text";
       icon.classList.remove("fa-eye");
       icon.classList.add("fa-eye-slash");
   } else {
       passwordField.type = "password";
       icon.classList.remove("fa-eye-slash");
       icon.classList.add("fa-eye");
   }
}
</script>
</body>
</html>
