<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <th:block th:insert="~{fragments/links}"></th:block>

  <title>Забравена Парола</title>
  <link rel="icon" type="image/x-icon" href="/img/photos/noImage.png">
  <link href="/css/show.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
  <th:block th:insert="~{fragments/header}"></th:block>

  <div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
      <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
      </a>
    </nav>
    <main class="content">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="card custom-card-width-lg">
            <div class="card-header">
              <h5 class="card-title mb-0">Забравена Парола?</h5>
            </div>
            <div class="card-body">
              <div class="text-center">
                <form th:action="@{/user/forgot-password}" method="post">
                  <label for="email">Въведете вашият email:</label>
                  <input type="email" id="email" name="email" class="form-control mb-3" required>
                  <button type="submit" class="btn btn-primary">Изпрати линк</button>
                </form>
                <div th:if="${message}" class="alert alert-primary mt-3">
                  <p th:text="${message}"></p>
                </div>
                <div th:if="${error}" class="text-danger">
                  <p th:text="${error}"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const navbar = document.getElementById("sidebar");
    const toggler = document.querySelector("a.sidebar-toggle");
    toggler.addEventListener("click", () => {
        navbar.classList.toggle("collapsed");
    });
});
</script>
</body>
</html>
