<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="~{fragments/links}"></th:block>
    <title>Профил</title>
    <link rel="icon" type="image/x-icon" href="/img/photos/noImage.png">
    <link href="/css/show.css" rel="stylesheet">

</head>
<body>
<div class="wrapper">
    <!--    HEADER  -->
    <th:block th:insert="~{fragments/header}"></th:block>


    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <div class="card custom-card-width-lg">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Профил</h5>
                        </div>
                        <div class="text-center">
                            <h2 > Профил </h2>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col">
                                    <h3>  Профил на: <span th:text="${user.firstname} + ' ' + ${user.lastname}"></span></h3>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <td th:text="${user.id}"></td>
                                    </tr>
                                    <tr>
                                        <th>Потребителско име</th>
                                        <td th:text="${user.username}"></td>
                                    </tr>
                                    <tr>
                                        <th>Първо име</th>
                                        <td th:text="${user.firstname}"></td>
                                    </tr>
                                    <tr>
                                        <th>Фамилно име</th>
                                        <td th:text="${user.lastname}"></td>
                                    </tr>
                                    <tr>
                                        <th>Адрес</th>
                                        <td th:text="${user.address}"></td>
                                    </tr>
                                    <tr>
                                        <th>Е-поща</th>
                                        <td th:text="${user.email}"></td>
                                    </tr>
                                    <tr th:if="${#strings.trim(user.role) != 'CUSTOMER'}">
                                        <th>Роля</th>
                                        <td th:text="${user.role}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <form th:action="@{/user/password}" method="get"
                                          th:attr="onsubmit='return confirm(\'Сигурни ли сте, че искате да смените паролата на: ' + ${user.firstname} + '?\');'">
                                        <button type="submit" class="btn btn-danger">Смени парола</button>
                                    </form>
                                </div>
                                <div class="col">
                                    <form th:action="@{'/user/editUser/' + ${user.id}}" method="get"
                                          th:attr="onsubmit='return confirm(\'Сигурни ли сте, че искате да редактирате Потребител с име: ' + ${user.firstname} + '?\');'">
                                        <button type="submit" class="btn btn-primary">Редактирай</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script>

    document.addEventListener("DOMContentLoaded", function() {
    const navbar = document.getElementById("sidebar");
    console.log(navbar);
    const toggler = document.querySelector("a.sidebar-toggle");
    toggler.addEventListener("click", () => {
    navbar.classList.toggle("collapsed");
    });
});

    document.getElementById('searchInput2').addEventListener('input', function () {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById('searchInput2');
    filter = input.value.toUpperCase();
    table = document.querySelector('table');
    tr = table.getElementsByTagName('tr');
    var count = 0; // Initialize the count variable

    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName('td')[3];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = '';
                count++; // Increment the count when a match is found
            } else {
                tr[i].style.display = 'none';
            }
        }
    }

    // Display the results count for the second search input
    var resultsCountElement = document.getElementById('resultsCount2');
    if (resultsCountElement) {
        resultsCountElement.textContent = count;
    } else {
        // If the element doesn't exist, you can create and append it
        resultsCountElement = document.createElement('div');
        resultsCountElement.id = 'resultsCount2';
        resultsCountElement.textContent = count;
        input.parentNode.appendChild(resultsCountElement); // Appending to the parent of the input
    }
});
    document.getElementById('searchInput1').addEventListener('input', function () {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById('searchInput1');
    filter = input.value.toUpperCase();
    table = document.querySelector('table');
    tr = table.getElementsByTagName('tr');
    var count = 0; // Initialize the count variable

    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName('td')[2];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = '';
                count++; // Increment the count when a match is found
            } else {
                tr[i].style.display = 'none';
            }
        }
    }

    // Display the results count
    var resultsCountElement = document.getElementById('resultsCount');
    if (resultsCountElement) {
        resultsCountElement.textContent = count;
    } else {
        // If the element doesn't exist, you can create and append it
        resultsCountElement = document.createElement('div');
        resultsCountElement.id = 'resultsCount';
        resultsCountElement.textContent = count;
        input.parentNode.appendChild(resultsCountElement); // Appending to the parent of the input
    }
});
</script>
</body>
</html>