<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index">
            <span class="align-middle">Lukeria</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a id="nav-index" class="sidebar-link" href="index">
                    <i class="align-middle" data-feather="sliders"></i> <span
                        class="align-middle">Главна страница</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a id="nav-login" class="sidebar-link" href="login">
                    <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Впиши се</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a id="nav-register" class="sidebar-link" href="register">
                    <i class="align-middle" data-feather="user-plus"></i> <span
                        class="align-middle">Регистрирай се</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a id="nav-show" class="sidebar-link" href="/show">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Кашони</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a id="nav-package-show" class="sidebar-link" href="/package/show">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Кутии</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a id="nav-show1" class="sidebar-link" href="/plate/show">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Тарелки</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a id="nav-show2" class="sidebar-link" href="/client/show">
                    <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Клиенти</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a id="nav-show3" class="sidebar-link" href="/order/create">
                    <i class="align-middle" data-feather="credit-card"></i> <span class="align-middle">Добави поръчка</span>
                </a>
            </li>
        </ul>
    </div>
</nav>