<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <!--    LINKS  -->
  <th:block th:include="~{fragments/links}"></th:block>

  <title> Редактирай поръчка </title>
  <link href="/css/form.css" rel="stylesheet">
  <link href="/css/datepicker.css" rel="stylesheet">
</head>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const navbar = document.getElementById("sidebar");
    console.log(navbar);
    const toggler = document.querySelector("a.sidebar-toggle");
    toggler.addEventListener("click", () => {
    navbar.classList.toggle("collapsed");
    });
});
</script>
<body>
<div class="wrapper">
  <!--    HEADER  -->
  <th:block th:include="~{fragments/header}"></th:block>
  <div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
      <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
      </a>
    </nav>
    <main class="content">
      <div class="form-container">
        <div class="card custom-card-width-lg">
          <div class="card-header">
            <h5 class="card-title mb-0">Редактирай поръчка</h5>
          </div>
          <div class="card-body">
            <form th:action="@{'/order/edit/' + ${order.id}}" method="get" th:object="${order}">
              <center>
              <div class="form-group">

                <label for="clientId" style="width: 100%;">Клинети:</label>
                <select id="clientId" name="clientId" style="width: 80%;" required>
                  <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.businessName}"></option>
                </select>
              </div>
              <div class="form-group">
                  <label for="orderDate">Дата на поръчка:</label>
                  <input type="date" name="orderDate" id="orderDate"  th:field="*{orderDate}" required>
              </div>
              </center>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Запази и добави продукти</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script src="/js/app.js"></script>
<script>
$(document).ready(function() {
$('#clientId').select2();
});
</script>
</body>
</html>