<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <!--    LINKS  -->
  <th:block th:include="~{fragments/links}"></th:block>

  <title> Поръчки </title>
  <link href="/css/show.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
  <!--    HEADER  -->
  <th:block th:include="~{fragments/header}"></th:block>


  <div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
      <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
      </a>
    </nav>
    <main class="content">
      <div class="d-flex justify-content-center">
        <div class="row">
          <div class="col-12">
            <div class="card custom-card-width-lg">
              <div class="card-header">
                <h5 class="card-title mb-0">Всички поръчки</h5>
              </div>
              <div class="text-center">
                <a href="/order/create" class="btn btn-primary">Добави Поръчка</a>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Поръчка</th>
                    <th>Клиент</th>
                    <th>Дата на поръчка</th>
                    <th>Виж повече</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="order, iter : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${clients[iter.index]?.businessName}"></td>
                    <td th:text="${order.orderDate}"></td>
                    <td><a th:href="@{/orderProduct/orderDetails/{orderId}(orderId=${order.id})}">Повече информация</a></td>
                    <td>
                      <form th:action="@{'/order/delete/' + ${order.id}}" method="post"
                            th:attr="onsubmit='return confirm(\'Сигурни ли сте, че искате да изтриете поръчка с номер: ' + ${order.id} + '?\');'">
                        <button type="submit" class="btn btn-danger">Изтрий</button>
                      </form>
<!--                    </td>-->
<!--                    <td>-->
<!--                      <form th:action="@{'/plate/editPlate/' + ${plate.id}}" method="get"-->
<!--                            th:attr="onsubmit='return confirm(\'Сигурни ли сте, че искате да редактирате тарелка с име: ' + ${plate.name} + '?\');'">-->
<!--                        <button type="submit" class="btn btn-primary">Редактирай</button>-->
                      </form>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script src="/js/app.js"></script>
</body>
</html>