.custom-card-width-lg {
width: auto; /* Променете стойността на ширината, според вашите нужди */
margin: 0 auto; /* Опционално: Центриране на карта хоризонтално */
    }

.yellow-cell {
  background-color: yellow;
}
.input-container {
    position: relative;
    width: 100%; /* Или задайте конкретна ширина, ако е необходимо */
}

.form-control {
    width: 100%;
    padding-right: 50px; /* Оставя място за бутона */
}

.btn {
    position: absolute;
    right: 0; /* Позиционира бутона до края на инпут полето */
    top: 50%;
    transform: translateY(-50%); /* Центрира бутона вертикално */
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1; /* Уверява се, че бутона е над инпут полето */
    padding: 0 10px; /* Оставя място за иконата */
}

/* Опционално: Добавете стилове за бутон, за да изглежда добре */
.btn i {
    font-size: 18px; /* Размер на иконата */
    color: #555; /* Цвят на иконата */
}

.btn:hover i {
    color: #000; /* Цвят на иконата при ховър */
}


.red-cell {
  background-color: red;
}
  .container {
          display: flex;
          justify-content: space-between;
      }

      .text-container {
          flex-basis: 45%;
      }

      .underlined {
          text-decoration: underline;
      }

      .right-align {
          text-align: right;
      }

      .text-container.right {
          margin-left: auto;
      }

      .centered {
          text-align: center;
          margin-top: 20px;
      }

      .total {
          text-align: center;
          margin-top: 10px;
      }
      .price-input {
          width: 60px; /* Променете тази стойност според вашите предпочитания за ширина */
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          text-align: right;
      }
      .quantity-input {
          width: 40px; /* Променете тази стойност според вашите предпочитания за ширина */
          padding: 3px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          text-align: center;
      }