/* Стилове за видео */
video {
    width: 100%;
    height: auto;
    border: 1px solid #ddd; /* Тънка граница около видеото */
}

/* Други стилове */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* Центриране на контейнера */
}

.input-container input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input-container button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}

.input-container button:hover {
    color: #000;
}
