<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--    LINKS  -->
    <th:block th:insert="~{fragments/links}"></th:block>

    <title> Фактура </title>
    <link rel="icon" type="image/x-icon" href="/img/photos/noImage.png">
    <link href="/css/invoice.css" rel="stylesheet">
</head>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const navbar = document.getElementById("sidebar");
        console.log(navbar);
        const toggler = document.querySelector("a.sidebar-toggle");
        toggler.addEventListener("click", () => {
        navbar.classList.toggle("collapsed");
        });
    });
</script>
<body>
<div class="wrapper">
    <!--    HEADER  -->
    <th:block th:insert="~{fragments/header}"></th:block>

    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="row">
                <div class="col-md-6 text-start">
                    <h6 style="color:red;"> Цените се определят по курс на евро </h6>
                </div>
                <div class="col-md-6 text-end">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <button id="printButton" class="btn btn-primary" onclick="printPage()">
                        Принтирай <i class="fas fa-print"></i>
                    </button>
                    <button class="btn btn-primary" onclick="generatePDF()">
                        Свали PDF
                    </button>
                    <div class="card custom-card-width-lg">
                        <div class="card-header">
                            <div class="container">
                                <div class="text-container">
                                    <strong class="underlined" th:text="#{label.receiver}"></strong>
                                    <h6 th:text="${clientName}"></h6>
                                    <h6 th:text="#{label.idNumber}+'  ' + ${client.idNumEIK}"></h6>
                                    <h6 th:if="${client.hasIdNumDDS}"
                                        th:text="#{label.idNumberDDS} + '  ' + ' BG' + ${client.idNumEIK}">
                                    </h6>
                                    <h6>
                                        <span th:text="#{label.address}"></span>
                                        <span th:text="${clientAddress}"></span>
                                    </h6>
                                    <h6 th:text="#{label.MOL} + '  ' + ${clientMOL}"></h6>
                                </div>

                                <div class="text-container right">
                                    <strong class="underlined" th:text="#{label.supplier}"></strong>
                                    <h6 th:text=" #{lukeria.name}"></h6>
                                    <h6 th:text="#{label.idNumber} + '  ' + '200418603'"></h6>
                                    <h6 th:text="#{label.idNumberDDS} +'  ' +'BG'+ '200418603'"></h6>
                                    <h6 th:text="#{label.address} +'  ' + #{lukeria.address}"></h6>
                                    <h6 th:text="#{label.MOL}+'  ' + #{lukeria.MOL}"></h6>
                                </div>
                            </div>
                            <div class="centered">
                                <h2 th:text="#{title.invoice}+'  ' + ${invoiceDTO.invoiceNumber}"
                                    style="font-size: 20px;"></h2>
                                <h2 th:text="#{title.date} +'  '+ ${invoiceDTO.invoiceDate}"
                                    style="font-size: 20px;"></h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th th:text="#{label.id}" style="font-size: 12px;"></th>
                                        <th th:text="#{label.name}" style="font-size: 12px;"></th>
                                        <th th:text="#{label.quantity}" style="font-size: 12px;"></th>
                                        <th th:text="#{label.unitPriceWithoutVAT}" style="font-size: 12px;"></th>
                                        <th th:text="#{label.vatPercentage}" style="font-size: 12px;"></th>
                                        <th th:text="#{label.valueWithoutVAT}" style="font-size: 12px;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="orderProductDTO : ${orderProductDTOS}">
                                        <td>
                                          <span th:each="packageDTO : ${packageDTOS}"
                                                th:if="${packageDTO.id == orderProductDTO.packageId}"
                                                th:text="${packageDTO.productCode}" style="font-size: 12px;">
                                       </span>
                                        </td>
                                        <td>
                                          <span th:each="packageDTO : ${packageDTOS}"
                                                th:if="${packageDTO.id == orderProductDTO.packageId}">
                                          <span th:if="${invoiceDTO.invoiceNumber  >= 2000000000}"
                                                th:text="${packageDTO.name}" style="font-size: 12px;" ></span>
                                         <span th:unless="${invoiceDTO.invoiceNumber  >= 2000000000}"
                                               th:text="${packageDTO.englishName}" style="font-size: 12px;"></span>
                                       </span>
                                        </td>
                                        <td class="quantity-input"
                                            th:text="${orderProductDTO.number } +' '+ #{label.num} " style="font-size: 12px;">
                                        </td>

                                        <td class="price-input">
                                            <span th:if="${invoiceDTO.invoiceNumber >= 2000000000}"
                                                  th:text="${orderProductDTO.sellingPrice}" style="font-size: 12px;"></span>
                                            <span th:if="${invoiceDTO.invoiceNumber < 2000000000}" style="font-size: 12px;">
                                                <span th:text="${orderProductDTO.sellingPrice}" style="font-size: 12px;"></span>
                                            </span>
                                        </td>
                                        </td>
                                        <td>
                                            <span id="vatInput"
                                                  th:text="${invoiceDTO.invoiceNumber >= 2000000000 ? '20' : '0'}" style="font-size: 12px;"></span>
                                            %
                                        </td>
                                        <td>
                                            <span th:with="productPrice=${orderProductDTO.sellingPrice}, orderNumber=${orderProductDTO.number}"
                                                  th:each="productDTO : ${productDTOS}"
                                                  th:if="${productDTO.id == orderProductDTO.packageId}"
                                                  th:id="${'productValue-' + productDTO.id}" style="font-size: 12px;">
                                             <span th:text="${productPrice * orderNumber}" style="font-size: 12px;"></span>
                                             </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td th:text="#{label.taxBase}" style="font-size: 12px;"></td>
                                        <td id="totalPrice" style="font-size: 12px;"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td th:text="#{label.valueOfVAT}" style="font-size: 12px;"></td>
                                        <td id="vatValue" style="font-size: 12px;"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td th:text="#{label.paymentAmount}" style="font-size: 12px;"></td>
                                        <td id="paymentAmount" style="font-size: 12px;"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <label th:unless="${invoiceDTO.isCashPayment}"
                                       th:text="#{other.bankAccount} + '  '" style="font-size: 12px;"></label>
                                <strong th:unless="${invoiceDTO.isCashPayment}"
                                        th:text="${invoiceDTO.bankAccount}" style="font-size: 12px;"></strong>
                                <br>
                                <label th:text="#{other.paymentMethod}" style="font-size: 12px;"></label>
                                <span th:if="${invoiceDTO.isCashPayment}" style="font-size: 12px;"><strong
                                        th:text="#{other.paymentMethodNum}" style="font-size: 12px;"></strong> </span>
                                <span th:unless="${invoiceDTO.isCashPayment}" style="font-size: 12px;"><strong
                                        th:text="#{other.paymentMehtodWithTranslationOrder}" style="font-size: 12px;"></strong></span>
                                <br>
                                <label th:text="#{other.maturityDate}" style="font-size: 12px;"> </label>
                                <strong><span th:text="${#temporals.format(invoiceDTO.deadline, 'dd.MM.yyyy')}" style="font-size: 12px;"></span></strong></label>
                                <br><br>
                                <strong th:text="#{other.notice}" style="font-size: 12px;"></strong>
                                </label><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.6.0/mammoth.browser.min.js"></script>
<script src="/js/invoiceId.js"></script>
<script>
    var invoiceId = [[${InvoiceId}]];
        // JavaScript function to round a value to two decimal places
        function roundValue(value) {
            return Math.round(value * 100) / 100;
        }

        // Get the elements you need
        var tdElement = document.querySelector('.price-input');

        var sellingPrice = [[${sellingPrice}]];

        // Calculate the value without dividing by 1.95583
        var calculatedValue = sellingPrice;

        // Round the calculated value to two decimal places
        var roundedValue = roundValue(calculatedValue);

        // Set the rounded value as the text content of the <td> element
        tdElement.textContent = roundedValue.toFixed(2);
</script>

<script>
    function generatePDF() {
        const element = document.querySelector('.custom-card-width-lg'); // Select the element to convert to PDF
        const invoiceNumberElement = document.querySelector('h2'); // Assuming the invoice number is in an h2 element

        if (!invoiceNumberElement) {
            alert('Invoice number element not found.');
            return;
        }

        const invoiceNumber = invoiceNumberElement.innerText.trim();
        const filename = invoiceNumber ? `${invoiceNumber}.pdf` : 'invoice.pdf'; // Use the invoice number in the filename if available

        const opt = {
            margin: 10,
            filename: filename,
            image: { type: 'jpeg', quality: 0.40 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        };

        // Use html2pdf to generate the PDF
        html2pdf().from(element).set(opt).save();
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const navbar = document.getElementById("sidebar");
        console.log(navbar);
        const toggler = document.querySelector("a.sidebar-toggle");
        toggler.addEventListener("click", () => {
        navbar.classList.toggle("collapsed");
        });
    });
</script>
