<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--    LINKS  -->
    <th:block th:insert="~{fragments/links}"></th:block>

    <title> Фактура </title>
    <link href="/css/invoice.css" rel="stylesheet">
</head>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const navbar = document.getElementById("sidebar");
    console.log(navbar);
    const toggler = document.querySelector("a.sidebar-toggle");
    toggler.addEventListener("click", () => {
    navbar.classList.toggle("collapsed");
    });
});
</script>
<body>
<div class="wrapper">
    <!--    HEADER  -->
    <th:block th:insert="~{fragments/header}"></th:block>

    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="row">
                <div class="col-md-6 text-start">
                    <h6 style="color:red;"> Цените се определят по курс на евро </h6>
                </div>
                <div class="col-md-6 text-end">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <button id="printButton" class="btn btn-primary" onclick="printPage()">
                        Принтирай <i class="fas fa-print"></i>
                    </button>
                    <button class="btn btn-primary" onclick="generatePDF()">
                        Свали PDF
                    </button>
                    <div class="card custom-card-width-lg">
                        <div class="card-header">
                            <div class="container">
                                <div class="text-container">
                                    <strong class="underlined" th:text="#{label.receiver}"></strong>
                                    <h5>
                                        <strong th:text="${clientName}"></strong>
                                    </h5>
                                    <h5><strong
                                            th:text="#{label.idNumber}+'  ' + ${client.idNumEIK}"></strong>
                                    </h5>
                                    <h5><strong th:if="${client.hasIdNumDDS}">
                                        <span th:text= "#{label.idNumberDDS} +'  '+ ' BG' + ${client.idNumEIK}"></span>
                                    </strong></h5>
                                    <h5>
                                        <strong th:text=" #{label.address}"></strong>
                                        <strong th:text="${clientAddress}"></strong>
                                    </h5>
                                    <h5><strong th:text="#{label.MOL} +'  '+ ${clientMOL}"></strong>
                                    </h5>
                                </div>

                                <div class="text-container right">
                                    <strong class="underlined" th:text="#{label.supplier}"></strong>
                                    <h5><strong th:text=" #{lukeria.name}"></strong></h5>
                                    <h5>

                                    </h5>
                                    <h5><strong th:text="#{label.idNumber} + '  ' + '200418603'"></strong></h5>
                                    <h5><strong>
                                        <span th:text="#{label.idNumberDDS} +'  ' +'BG'+ '200418603'"></span>
                                    </strong></h5>
                                    <h5><strong th:text="#{label.address} +'  ' + #{lukeria.address}"></strong>
                                    </h5>
                                    <h5><strong th:text="#{label.MOL}+'  ' + #{lukeria.MOL}"></strong>
                                    </h5>
                                </div>
                            </div>
                            <div class="centered">
                                <h2 th:text="#{title.invoice}+'  ' + ${invoiceDTO.invoiceNumber}"></h2>
                                <h2 th:text="#{title.date} +'  '+ ${invoiceDTO.invoiceDate}"></h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th th:text="#{label.id}"></th>
                                        <th th:text="#{label.name}"></th>
                                        <th th:text="#{label.quantity}"></th>
                                        <th th:text="#{label.unitPriceWithoutVAT}"></th>
                                        <th th:text="#{label.vatPercentage}"></th>
                                        <th th:text="#{label.valueWithoutVAT}"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="orderProductDTO : ${orderProductDTOS}">
                                        <td th:text="${orderProductDTO.id}"></td>
                                        <td>
                                          <span th:each="packageDTO : ${packageDTOS}" th:if="${packageDTO.id == orderProductDTO.packageId}">
                                          <span th:if="${invoiceDTO.invoiceNumber  >= 2000000000}" th:text="${packageDTO.name}"></span>
                                         <span th:unless="${invoiceDTO.invoiceNumber  >= 2000000000}" th:text="${packageDTO.englishName}"></span>
                                       </span>
                                        </td>
                                        <td class="quantity-input" th:text="${orderProductDTO.number } + #{label.num}">
                                        </td>

                                        <td class="price-input">
                                            <span th:if="${invoiceDTO.invoiceNumber >= 2000000000}" th:text="${orderProductDTO.sellingPrice}"></span>
                                            <span th:if="${invoiceDTO.invoiceNumber < 2000000000}">
                                                <script th:inline="javascript">
                                                  var originalValue = /*[[${orderProductDTO.sellingPrice * 1.95583}]]*/ 0;
                                                  var roundedValue = originalValue.toFixed(2);
                                                  document.write(roundedValue);
                                                </script>
                                            </span>
                                        </td>
                                        </td>
                                        <td th:text="20"></td>
                                        <td>
                                            <span th:with="productPrice=${orderProductDTO.sellingPrice}, orderNumber=${orderProductDTO.number}"
                                             th:each="productDTO : ${productDTOS}" th:if="${productDTO.id == orderProductDTO.packageId}"
                                             th:id="${'productValue-' + productDTO.id}">
                                             <span th:if="${invoiceDTO.invoiceNumber >= 2000000000}" th:text="${productPrice * orderNumber}"></span>
                                             <span hidden th:unless="${invoiceDTO.invoiceNumber >= 2000000000}" th:text="${productPrice * orderNumber / 1.95583}"></span>
                                                <span th:unless="${invoiceDTO.invoiceNumber >= 2000000000}">
                                                    <script th:inline="javascript">
                                                    var originalValue = /*[[${productPrice * orderNumber * 1.95583}]]*/ 0;
                                                    var roundedValue = originalValue.toFixed(2);
                                                    document.write(roundedValue);
                                                    </script>
                                                </span>
                                             </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td th:text = "#{label.taxBase}"></td>
                                        <td id="totalPrice"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td th:text = "#{label.valueOfVAT}"></td>
                                        <td id="vatValue"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td th:text = "#{label.paymentAmount}"></td>
                                        <td id="paymentAmount"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <label th:unless="${invoiceDTO.isCashPayment}" th:text = "#{other.bankAccount} + '  '"></label>
                                    <strong th:unless="${invoiceDTO.isCashPayment}" th:text = "${invoiceDTO.bankAccount}"></strong>
                                <br>
                                <label th:text = "#{other.paymentMethod}"></label>
                                    <span th:if="${invoiceDTO.isCashPayment}"><strong th:text = "#{other.paymentMethodNum}"></strong> </span>
                                    <span th:unless="${invoiceDTO.isCashPayment}"><strong th:text = "#{other.paymentMehtodWithTranslationOrder}"></strong></span>
                                <br>
                                <label th:text = "#{other.maturityDate}">  </label>
                                    <strong><span th:text="${#temporals.format(invoiceDTO.deadline, 'dd.MM.yyyy')}"></span></strong></label><br><br>
                                    <strong th:text = "#{other.notice}"></strong>
                                </label><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.6.0/mammoth.browser.min.js"></script>
<script src="/js/invoiceId.js"></script>
<script>
var invoiceId = [[${InvoiceId}]];
    // JavaScript function to round a value to two decimal places
    function roundValue(value) {
        return Math.round(value * 100) / 100;
    }

    // Get the elements you need
    var tdElement = document.querySelector('.price-input');

    var sellingPrice = [[${sellingPrice}]];

    // Calculate the value based on the condition
    var calculatedValue = invoiceId >= 2000000000 ? sellingPrice : sellingPrice / 1.95583;

    // Round the calculated value to two decimal places
    var roundedValue = roundValue(calculatedValue);

    // Set the rounded value as the text content of the <td> element
    tdElement.textContent = roundedValue.toFixed(2);
</script>

<script>
    function generatePDF() {
        const element = document.querySelector('.custom-card-width-lg'); // Select the element to convert to PDF
        const invoiceNumberElement = document.querySelector('h2'); // Assuming the invoice number is in an h2 element

        if (!invoiceNumberElement) {
            alert('Invoice number element not found.');
            return;
        }

        const invoiceNumber = invoiceNumberElement.innerText.trim();
        const filename = invoiceNumber ? `${invoiceNumber}.pdf` : 'invoice.pdf'; // Use the invoice number in the filename if available

        const opt = {
            margin: 10,
            filename: filename,
            image: { type: 'jpeg', quality: 0.40 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        };

        // Use html2pdf to generate the PDF
        html2pdf().from(element).set(opt).save();
    }
</script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const navbar = document.getElementById("sidebar");
    console.log(navbar);
    const toggler = document.querySelector("a.sidebar-toggle");
    toggler.addEventListener("click", () => {
    navbar.classList.toggle("collapsed");
    });
});
</script>
