<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--    LINKS  -->
    <th:block th:insert="~{fragments/links}"></th:block>
    <title> Lukeria меню </title>
    <link rel="icon" type="image/x-icon" href="img/photos/noImage.png">
</head>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const navbar = document.getElementById("sidebar");
        console.log(navbar);
        const toggler = document.querySelector("a.sidebar-toggle");
        toggler.addEventListener("click", () => {
        navbar.classList.toggle("collapsed");
        });
    });
</script>
<body>
<div class="wrapper">
    <!--    HEADER  -->
    <th:block th:insert="~{fragments/header}"></th:block>

    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="sidebar-toggle js-sidebar-toggle">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="col-100 col-md-400">
                        <div class="card custom-card-width">
                            <img class="card-img-top" src="img/photos/index.png" alt="Logo">
                            <div class="card-header">
                                <center><h1 class="h1">LUKERIA</h1></center>
                            </div>
                            <div class="card-body">
                                <div class="contact-info">
                                    <h2>Свържете се с нас</h2>
                                    <p>С радост бихме отговорили на Вашите запитвания, коментари и обратна връзка.</p>
                                    <p>Адрес: България, Търговище Промишлена зона</p>
                                    <p>Email: <a href="mailto:office@lukeria.eu">office@lukeria.eu</a>, <a
                                            href="mailto:lukeria@mail.bg">lukeria@mail.bg</a></p>
                                    <p>Телефон: <a href="tel:+359879379966">+359 879 379 966</a></p>
                                    <p>
                                        За Покупка: <a href="https://supreva.com/bg/lukeriya-ood/?category_id=265"
                                                       target="_blank">Натиснете тук</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>


    </div>
</div>
<style>
    .custom-card-width {
  width: 80%;
  margin: 0 auto; /* Optional: Centers the card horizontally */
}
.h1 {
  font-family: "Lucida Handwriting", Times, serif;
}
.h4 {
  font-family: 	Georgia, Helvetica, sans-serif;
}
</style>
</body>
</html>